l10n_it_account/tools/xsd/Schema_VFSM10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	xmlns="http://ivaservizi.agenziaentrate.gov.it/docs/xsd/fatture/v1.0"
	targetNamespace="http://ivaservizi.agenziaentrate.gov.it/docs/xsd/fatture/v1.0"
	version="1.0.1">

  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/2002/REC-xmldsig-core-20020212/xmldsig-core-schema.xsd" />
  
  <xs:element name="FatturaElettronicaSemplificata" type="FatturaElettronicaType">
    <xs:annotation>
      <xs:documentation>
				XML schema fatture destinate a privati in forma semplificata 1.0.1
			</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FatturaElettronicaType">
    <xs:sequence>
      <xs:element name="FatturaElettronicaHeader" type="FatturaElettronicaHeaderType" />
      <xs:element name="FatturaElettronicaBody" type="FatturaElettronicaBodyType" maxOccurs="unbounded" />
      <xs:element ref="ds:Signature" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="versione" type="FormatoTrasmissioneType" use="required" />
    <xs:attribute name="SistemaEmittente" type="String10Type" use="optional" />
  </xs:complexType>
  <xs:complexType name="FatturaElettronicaHeaderType">
    <xs:sequence>
      <xs:element name="DatiTrasmissione" type="DatiTrasmissioneType" />
      <xs:element name="CedentePrestatore" type="CedentePrestatoreType" />
      <xs:element name="CessionarioCommittente" type="CessionarioCommittenteType" />
      <xs:element name="SoggettoEmittente" type="SoggettoEmittenteType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FatturaElettronicaBodyType">
    <xs:sequence>
      <xs:element name="DatiGenerali" type="DatiGeneraliType" />
      <xs:element name="DatiBeniServizi" type="DatiBeniServiziType" maxOccurs="unbounded" />
      <xs:element name="Allegati" type="AllegatiType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatiTrasmissioneType">
    <xs:annotation>
      <xs:documentation>Blocco relativo ai dati di trasmissione della Fattura Elettronica</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdTrasmittente" type="IdFiscaleType" />
      <xs:element name="ProgressivoInvio" type="String10Type" />
      <xs:element name="FormatoTrasmissione" type="FormatoTrasmissioneType" />
      <xs:element name="CodiceDestinatario" type="CodiceDestinatarioType" />
      <xs:element name="PECDestinatario" type="EmailType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CodiceDestinatarioType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{7}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="IdFiscaleType">
    <xs:sequence>
      <xs:element name="IdPaese" type="NazioneType" />
      <xs:element name="IdCodice" type="CodiceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CodiceType"> 
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="28" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FormatoTrasmissioneType"> 
    <xs:restriction base="xs:string">
      <xs:length value="5" />      
	  <xs:enumeration value="FSM10">
	    <xs:annotation>
	      <xs:documentation>Fattura verso privati semplificata</xs:documentation>
	    </xs:annotation>
	  </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DatiGeneraliType">
    <xs:annotation>
      <xs:documentation>Blocco relativo ai Dati Generali della Fattura Elettronica</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DatiGeneraliDocumento"  type="DatiGeneraliDocumentoType" />
      <xs:element name="DatiFatturaRettificata" type="DatiFatturaRettificataType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatiGeneraliDocumentoType">
    <xs:sequence>
      <xs:element name="TipoDocumento" type="TipoDocumentoType" />
      <xs:element name="Divisa" type="DivisaType" />
      <xs:element name="Data" type="DataFatturaType" />
      <xs:element name="Numero" type="String20Type" /> 
      <xs:element name="BolloVirtuale" type="BolloVirtualeType" minOccurs="0" />     
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatiFatturaRettificataType"> 
    <xs:sequence>
      <xs:element name="NumeroFR" type="String20Type" />
      <xs:element name="DataFR" type="DataFatturaType" />
      <xs:element name="ElementiRettificati" type="String1000LatinType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Art73Type">
    <xs:restriction base="xs:string">
      <xs:length value="2" />
      <xs:enumeration value="SI">
        <xs:annotation>
          <xs:documentation>SI = Documento emesso secondo modalità e termini stabiliti con DM ai sensi dell'art. 73 DPR 633/72</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TipoDocumentoType">
    <xs:restriction base="xs:string">
      <xs:length value="4" />
      <xs:enumeration value="TD07">
        <xs:annotation>
          <xs:documentation>Fattura semplificata</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TD08">
        <xs:annotation>
          <xs:documentation>Nota di credito semplificata</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TD09">
        <xs:annotation>
          <xs:documentation>Nota di debito semplificata</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="IndirizzoType">
    <xs:sequence>
      <xs:element name="Indirizzo" type="String60LatinType" />
      <xs:element name="NumeroCivico" type="NumeroCivicoType" minOccurs="0" />
      <xs:element name="CAP" type="CAPType" />
      <xs:element name="Comune" type="String60LatinType" />
      <xs:element name="Provincia" type="ProvinciaType" minOccurs="0" />
      <xs:element name="Nazione" type="NazioneType" default="IT" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SoggettoEmittenteType">
    <xs:restriction base="xs:string">
      <xs:length value="2" />
      <xs:enumeration value="CC">
        <xs:annotation>
          <xs:documentation>Cessionario / Committente</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TZ">
        <xs:annotation>
          <xs:documentation>Terzo</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CedentePrestatoreType">
    <xs:annotation>
      <xs:documentation>Blocco relativo ai dati del Cedente / Prestatore</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdFiscaleIVA" type="IdFiscaleType" />
      <xs:element name="CodiceFiscale" type="CodiceFiscaleType" minOccurs="0" />
      <xs:choice>
        <xs:sequence>
          <xs:element name="Denominazione" type="String80LatinType"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element name="Nome"          type="String60LatinType"/>
          <xs:element name="Cognome"       type="String60LatinType"/>
        </xs:sequence>
      </xs:choice>    
      <xs:element name="Sede" type="IndirizzoType" />
      <xs:element name="StabileOrganizzazione" type="IndirizzoType" minOccurs="0" />
      <xs:element name="RappresentanteFiscale" type="RappresentanteFiscaleType" minOccurs="0" />
      <xs:element name="IscrizioneREA" type="IscrizioneREAType" minOccurs="0" />
	  <xs:element name="RegimeFiscale" type="RegimeFiscaleType" />		
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RegimeFiscaleType">
    <xs:restriction base="xs:string">
      <xs:length value="4" />
      <xs:enumeration value="RF01">
        <xs:annotation>
          <xs:documentation> Regime ordinario</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF02">
        <xs:annotation>
          <xs:documentation>Regime dei contribuenti minimi (art. 1,c.96-117, L. 244/2007)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF04">
        <xs:annotation>
          <xs:documentation>Agricoltura e attività connesse e pesca (artt. 34 e 34-bis, D.P.R. 633/1972)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF05">
        <xs:annotation>
          <xs:documentation>Vendita sali e tabacchi (art. 74, c.1, D.P.R. 633/1972)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF06">
        <xs:annotation>
          <xs:documentation>Commercio dei fiammiferi (art. 74, c.1, D.P.R. 633/1972)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF07">
        <xs:annotation>
          <xs:documentation>Editoria (art. 74, c.1, D.P.R. 633/1972)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF08">
        <xs:annotation>
          <xs:documentation>Gestione di servizi di telefonia pubblica (art. 74, c.1, D.P.R. 633/1972)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF09">
        <xs:annotation>
          <xs:documentation>Rivendita di documenti di trasporto pubblico e di sosta (art. 74, c.1, D.P.R. 633/1972)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF10">
        <xs:annotation>
          <xs:documentation>Intrattenimenti, giochi e altre attività	di cui alla tariffa allegata al D.P.R. 640/72 (art. 74, c.6, D.P.R. 633/1972)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF11">
        <xs:annotation>
          <xs:documentation>Agenzie di viaggi e turismo (art. 74-ter, D.P.R. 633/1972)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF12">
        <xs:annotation>
          <xs:documentation>Agriturismo (art. 5, c.2, L. 413/1991)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF13">
        <xs:annotation>
          <xs:documentation>Vendite a domicilio (art. 25-bis, c.6, D.P.R. 600/1973)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF14">
        <xs:annotation>
          <xs:documentation>Rivendita di beni usati, di oggetti	d’arte, d’antiquariato o da collezione (art.	36, D.L. 41/1995)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF15">
        <xs:annotation>
          <xs:documentation>Agenzie di vendite all’asta di oggetti d’arte, antiquariato o da collezione (art. 40-bis, D.L. 41/1995)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF16">
        <xs:annotation>
          <xs:documentation>IVA per cassa P.A. (art. 6, c.5, D.P.R. 633/1972)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF17">
        <xs:annotation>
          <xs:documentation>IVA per cassa (art. 32-bis, D.L. 83/2012)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
	  <xs:enumeration value="RF19">
        <xs:annotation>
          <xs:documentation>Regime forfettario</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RF18">
        <xs:annotation>
          <xs:documentation>Altro</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="IscrizioneREAType">
    <xs:sequence>
      <xs:element name="Ufficio" type="ProvinciaType" />
      <xs:element name="NumeroREA" type="String20Type" />
      <xs:element name="CapitaleSociale" type="Amount2DecimalType" minOccurs="0" />
      <xs:element name="SocioUnico" type="SocioUnicoType" minOccurs="0" />
      <xs:element name="StatoLiquidazione" type="StatoLiquidazioneType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RappresentanteFiscaleType">
    <xs:annotation>
      <xs:documentation>Blocco relativo ai dati del Rappresentante Fiscale</xs:documentation>
    </xs:annotation>
    <xs:sequence>
	  <xs:element name="IdFiscaleIVA" type="IdFiscaleType" />
      <xs:choice>
        <xs:sequence>
          <xs:element name="Denominazione" type="String80LatinType"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element name="Nome"          type="String60LatinType"/>
          <xs:element name="Cognome"       type="String60LatinType"/>
        </xs:sequence>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CessionarioCommittenteType">
    <xs:annotation>
      <xs:documentation>Blocco relativo ai dati del Cessionario / Committente</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdentificativiFiscali" type="IdentificativiFiscaliType"                   />
      <xs:element name="AltriDatiIdentificativi" type="AltriDatiIdentificativiType" minOccurs="0" />      
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IdentificativiFiscaliType">
    <xs:sequence>
      <xs:element name="IdFiscaleIVA" type="IdFiscaleType" minOccurs="0" />
      <xs:element name="CodiceFiscale" type="CodiceFiscaleType" minOccurs="0" />      
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AltriDatiIdentificativiType">
    <xs:sequence>
      <xs:choice>
        <xs:sequence>
          <xs:element name="Denominazione" type="String80LatinType"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element name="Nome"          type="String60LatinType"/>
          <xs:element name="Cognome"       type="String60LatinType"/>
        </xs:sequence>
      </xs:choice>
      <xs:element name="Sede" type="IndirizzoType" />
      <xs:element name="StabileOrganizzazione" type="IndirizzoType" minOccurs="0" />
      <xs:element name="RappresentanteFiscale" type="RappresentanteFiscaleType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatiBeniServiziType">
    <xs:annotation>
      <xs:documentation>Blocco relativo ai dati di Beni Servizi della Fattura	Elettronica</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Descrizione" type="String1000LatinType" />
      <xs:element name="Importo" type="Amount2DecimalType" />
      <xs:element name="DatiIVA" type="DatiIVAType" />
      <xs:element name="Natura" type="NaturaType" minOccurs="0" />
      <xs:element name="RiferimentoNormativo" type="String100LatinType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatiIVAType">
    <xs:sequence>
      <xs:element name="Imposta" type="Amount2DecimalType" minOccurs="0" />
	  <xs:element name="Aliquota" type="RateType" minOccurs="0"/>
	</xs:sequence>
  </xs:complexType>
  <xs:complexType name="AllegatiType">
    <xs:annotation>
      <xs:documentation>Blocco relativo ai dati di eventuali allegati</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NomeAttachment" type="String60LatinType" />
      <xs:element name="AlgoritmoCompressione" type="String10Type" minOccurs="0" />
      <xs:element name="FormatoAttachment" type="String10Type" minOccurs="0" />
      <xs:element name="DescrizioneAttachment" type="String100LatinType" minOccurs="0" />
      <xs:element name="Attachment" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="NaturaType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="N1">
        <xs:annotation>
          <xs:documentation>Escluse ex. art. 15 del D.P.R. 633/1972</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
<!-- IL CODICE SEGUENTE (N2) NON SARA' PIU' VALIDO PER LE FATTURE EMESSE A PARTIRE DAL PRIMO GENNAIO 2021-->
      <xs:enumeration value="N2">
        <xs:annotation>
          <xs:documentation>Non soggette</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N2.1">
        <xs:annotation>
          <xs:documentation>Non soggette ad IVA ai sensi degli artt. da 7 a 7-septies del DPR 633/72</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N2.2">
        <xs:annotation>
          <xs:documentation>Non soggette - altri casi</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
<!-- IL CODICE SEGUENTE (N3) NON SARA' PIU' VALIDO PER LE FATTURE EMESSE A PARTIRE DAL PRIMO GENNAIO 2021-->
      <xs:enumeration value="N3">
        <xs:annotation>
          <xs:documentation>Non imponibili</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N3.1">
        <xs:annotation>
          <xs:documentation>Non Imponibili - esportazioni</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N3.2">
        <xs:annotation>
          <xs:documentation>Non Imponibili - cessioni intracomunitarie</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N3.3">
        <xs:annotation>
          <xs:documentation>Non Imponibili - cessioni verso San Marino</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N3.4">
        <xs:annotation>
          <xs:documentation>Non Imponibili - operazioni assimilate alle cessioni all'esportazione</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N3.5">
        <xs:annotation>
          <xs:documentation>Non Imponibili - a seguito di dichiarazioni d'intento</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N3.6">
        <xs:annotation>
          <xs:documentation>Non Imponibili - altre operazioni che non concorrono alla formazione del plafond</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N4">
        <xs:annotation>
          <xs:documentation>Esenti</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N5">
        <xs:annotation>
          <xs:documentation>Regime del margine/IVA non esposta in fattura</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CodiceFiscaleType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{11,16}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SocioUnicoType"> 
    <xs:restriction base="xs:string">
      <xs:enumeration value="SU">
        <xs:annotation>
          <xs:documentation>socio unico</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SM">
        <xs:annotation>
          <xs:documentation>più soci</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StatoLiquidazioneType"> 
    <xs:restriction base="xs:string">
      <xs:enumeration value="LS">
        <xs:annotation>
          <xs:documentation>in liquidazione</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LN">
        <xs:annotation>
          <xs:documentation>non in liquidazione</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String10Type">
    <xs:restriction base="xs:normalizedString">
      <xs:pattern value="(\p{IsBasicLatin}{1,10})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String20Type">
    <xs:restriction base="xs:normalizedString">
      <xs:pattern value="(\p{IsBasicLatin}{1,20})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String60LatinType"> 
    <xs:restriction base="xs:normalizedString">
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]{1,60}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String80LatinType"> 
    <xs:restriction base="xs:normalizedString">
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]{1,80}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String100LatinType">
    <xs:restriction base="xs:normalizedString">
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]{1,100}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String1000LatinType">
    <xs:restriction base="xs:normalizedString">
      <xs:pattern value="[\p{IsBasicLatin}\p{IsLatin-1Supplement}]{1,1000}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ProvinciaType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NazioneType"> 
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DivisaType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumeroCivicoType"> 
    <xs:restriction base="xs:normalizedString">
      <xs:pattern value="(\p{IsBasicLatin}{1,8})" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:token">
      <xs:maxLength value="256" />
      <xs:pattern value="([!#-'*+/-9=?A-Z^-~-]+(\.[!#-'*+/-9=?A-Z^-~-]+)*|&quot;(\[\]!#-[^-~ \t]|(\\[\t -~]))+&quot;)@([!#-'*+/-9=?A-Z^-~-]+(\.[!#-'*+/-9=?A-Z^-~-]+)*|\[[\t -Z^-~]*\])" />
   	</xs:restriction>
  </xs:simpleType>
  <!--________________ NUMBERS ____________________-->
  <xs:simpleType name="Amount2DecimalType"> 
    <xs:restriction base="xs:decimal">
      <xs:pattern value="[\-]?[0-9]{1,11}\.[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RateType"> 
    <xs:restriction base="xs:decimal">
      <xs:maxInclusive value="100.00" />
      <xs:pattern value="[0-9]{1,3}\.[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CAPType"> 
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9][0-9][0-9][0-9][0-9]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DataFatturaType">
    <xs:restriction base="xs:date">
      <xs:minInclusive value="1970-01-01" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BolloVirtualeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SI" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>