l10n_it_sct_cbi/data/standards/CBIPaymentRequest.00.04.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) by Mirko Silvestri (CBI Scpa) -->
<!-- Entrata in vigore: 17/03/2024 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:CBI:xsd:CBIPaymentRequest.00.04.01" targetNamespace="urn:CBI:xsd:CBIPaymentRequest.00.04.01" elementFormDefault="qualified">
	<xs:element name="CBIPaymentRequest" type="CBIPaymentRequest.00.04.01"/>
	<!-- CBI Logical Payment Request message structure definition -->
	<xs:complexType name="CBIPaymentRequest.00.04.01">
		<xs:sequence>
			<xs:element name="GrpHdr" type="CBIGroupHeader"/>
			<!-- 1 -->
			<!-- 2 -->
			<!-- 3 -->
			<xs:element name="PmtInf" type="CBIPaymentInstructionInformation"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIGroupHeader">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="NbOfTxs" type="Max15NumericText"/>
			<xs:element name="CtrlSum" type="CBIDecimalNumber"/>
			<xs:element name="InitgPty" type="CBIPartyIdentification1"/>
			<xs:element name="FwdgAgt" type="CBIBranchAndFinancialInstitutionIdentification1" minOccurs="0"/>
			<!-- 1.1 -->
			<!-- 1.2 -->
			<!-- 1.3 -->
			<!-- 1.4 -->
			<!-- 1.5 -->
			<!-- 1.6 -->
		</xs:sequence>
		<!-- 1 -->
	</xs:complexType>
	<xs:complexType name="CBIPaymentInstructionInformation">
		<xs:sequence>
			<xs:element name="PmtInfId" type="Max35Text"/>
			<xs:element name="PmtMtd" type="PaymentMethod3Code"/>
			<xs:element name="BtchBookg" type="BatchBookingIndicator" minOccurs="0"/>
			<xs:element name="PmtTpInf" type="CBIPaymentTypeInformation1" minOccurs="0"/>
			<xs:element name="ReqdExctnDt" type="DateAndDateTime2Choice">
				<xs:annotation>
					<xs:documentation> CHAN: Type Changed into DateAndDateTime2Choice for v2019 ISO message migration </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dbtr" type="CBIPartyIdentification4"/>
			<xs:element name="DbtrAcct" type="CBICashAccount2"/>
			<xs:element name="DbtrAgt" type="CBIBranchAndFinancialInstitutionIdentification2"/>
			<xs:element name="UltmtDbtr" type="CBIPartyIdentification2" minOccurs="0"/>
			<xs:element name="ChrgBr" type="CBIChargeBearerTypeCode" minOccurs="0"/>
			<xs:element name="ChrgsAcct" type="CBICashAccount1" minOccurs="0"/>
			<xs:element name="CdtTrfTxInf" type="CBICreditTransferTransactionInformation" maxOccurs="unbounded"/>
			<!-- 2.1 -->
			<!-- 2.2 -->
			<!-- 2.3 -->
			<!-- 2.4 -->
			<!-- 2.5 -->
			<!-- 2.6 -->
			<!-- 2.7 -->
			<!-- 2.8 -->
			<!-- 2.9 -->
			<!-- 2.10 -->
			<!-- 2.11 -->
			<!-- 2.12 -->
			<!-- 2.13 -->
		</xs:sequence>
		<!-- 2 -->
	</xs:complexType>
	<xs:complexType name="CBICreditTransferTransactionInformation">
		<xs:sequence>
			<xs:element name="PmtId" type="PaymentIdentification1"/>
			<xs:element name="PmtTpInf" type="CBIPaymentTypeInformation2" minOccurs="0"/>
			<xs:element name="Amt" type="CBIAmountType1"/>
			<xs:element name="ChqInstr" type="CBICheque1" minOccurs="0"/>
			<xs:element name="UltmtDbtr" type="CBIPartyIdentification2" minOccurs="0"/>
			<xs:element name="SrvInf" type="CBISrvInf1" minOccurs="0"/>
			<xs:element name="CdtrAgt" type="CBIBranchAndFinancialInstitutionIdentification3" minOccurs="0"/>
			<xs:element name="Cdtr" type="CBIPartyIdentification3"/>
			<xs:element name="CdtrAcct" type="CBICashAccount3" minOccurs="0">
				<xs:annotation>
					<xs:documentation> CHAN - Type Changed in order to add the optional Proxy Field under Creditor Account </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UltmtCdtr" type="CBIPartyIdentification3" minOccurs="0"/>
			<xs:element name="InstrForCdtrAgt" type="InstructionForCreditorAgent1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DestCdtrRsp" type="CBIPartyIdentification5" minOccurs="0"/>
			<xs:element name="Purp" type="Purpose1Choice" minOccurs="0"/>
			<xs:element name="RgltryRptg" type="CBIRegulatoryReporting1" minOccurs="0" maxOccurs="3"/>
			<xs:element name="Tax" type="TaxInformation8" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> CHAN - Complex structure included for the migration to v2019 ISO message </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RltdRmtInf" type="CBIRemittanceLocation1" minOccurs="0" maxOccurs="10">
				<xs:annotation>
					<xs:documentation> CHAN - Modified structure to adopt v2019 ISO message </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RmtInf" type="RemittanceInformation16" minOccurs="0"/>
			<!-- 2.10.1 -->
			<!-- 2.10.2 -->
			<!-- 2.10.3 -->
			<!-- 2.10.4 -->
			<!-- 2.10.5 -->
			<!-- 2.10.6 -->
			<!-- 2.10.7 -->
			<!-- 2.10.8 -->
			<!-- 2.10.9 -->
			<!-- 2.10.10 -->
			<!-- 2.10.11 -->
			<!-- 2.10.12 -->
			<!-- 2.10.13 -->
			<!-- 2.10.14 -->
			<!-- 2.10.15 -->
		</xs:sequence>
		<!-- 2.10 -->
	</xs:complexType>
	<!--*********************************
    Complex common data types
**********************************-->
	<xs:complexType name="AddressType3Choice">
		<xs:choice>
			<xs:element name="Cd" type="AddressType2Code"/>
			<xs:element name="Prtry" type="GenericIdentification30"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="CBIActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
    <xs:complexType name="CategoryPurpose1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
	<xs:complexType name="CBIAccountIdentification1">
		<xs:sequence>
			<xs:element name="IBAN" type="IBAN2007Identifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIAmountType1">
		<xs:sequence>
			<xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIBranchAndFinancialInstitutionIdentification1">
		<xs:sequence>
			<xs:element name="FinInstnId" type="CBIFinancialInstitutionIdentification1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIBranchAndFinancialInstitutionIdentification2">
		<xs:sequence>
			<xs:element name="FinInstnId" type="CBIFinancialInstitutionIdentification3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIBranchAndFinancialInstitutionIdentification3">
		<xs:sequence>
			<xs:element name="FinInstnId" type="CBIFinancialInstitutionIdentification2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBICashAccount1">
		<xs:sequence>
			<xs:element name="Id" type="CBIAccountIdentification1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBICashAccount2">
		<xs:sequence>
			<xs:element name="Id" type="CBIAccountIdentification1"/>
			<xs:element name="Tp" type="CashAccountType2Choice" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBICashAccount3">
		<xs:sequence>
			<xs:element name="Id" type="CBIAccountIdentification1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccountType2Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalCashAccountType1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CBICheque1">
		<xs:sequence>
			<xs:element name="ChqTp" type="CBIChequeType1Code" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIClearingSystemMemberIdentification1">
		<xs:sequence>
			<xs:element name="MmbId" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIFinancialInstitutionIdentification1">
		<xs:sequence>
			<xs:element name="ClrSysMmbId" type="CBIClearingSystemMemberIdentification1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIFinancialInstitutionIdentification2">
		<xs:sequence>
			<xs:element name="BICFI" type="BICFIDec2014Identifier">
				<xs:annotation>
					<xs:documentation> CHAN: Name Changed into BICFI and Type Changed into BICFIDec2014Identifier for v2019 ISO message migration </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIFinancialInstitutionIdentification3">
		<xs:sequence>
			<xs:element name="BICFI" type="BICFIDec2014Identifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation> CHAN: Name Changed into BICFI and Type Changed into BICFIDec2014Identifier for v2019 ISO message migration </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClrSysMmbId" type="CBIClearingSystemMemberIdentification1"/>
			<xs:element name="LEI" type="LEIIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation> CHAN: Field included for v2019 ISO message migration </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIGenericIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIGenericIdentification2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="Issr" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIIdType1">
		<xs:sequence>
			<xs:element name="OrgId" type="CBIOrganisationIdentification1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIIdType2">
		<xs:sequence>
			<xs:element name="OrgId" type="CBIOrganisationIdentification3">
				<xs:annotation>
					<xs:documentation> CHAN: Removed "OR" XSD check and restored "sequence" for ISO 20022 compliance </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIIdType3">
		<xs:sequence>
			<xs:element name="OrgId" type="CBIOrganisationIdentification4"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBILocalInstrument1">
		<xs:sequence>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBILocalInstrument2">
		<xs:sequence>
			<xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Othr" type="CBIGenericIdentification1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIOrganisationIdentification2">
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICDec2014Identifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation> CHAN: Name Changed into AnyBIC and Type Changed into AnyBICDec2014Identifier for v2019 ISO message migration </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LEI" type="LEIIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation> CHAN: Field included for v2019 ISO message migration </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Othr" type="CBIGenericIdentification1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIOrganisationIdentification3">
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICDec2014Identifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation> CHAN: Name Changed into AnyBIC and Type Changed into AnyBICDec2014Identifier for v2019 ISO message migration </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LEI" type="LEIIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation> CHAN: Field included for v2019 ISO message migration </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Othr" type="CBIGenericIdentification1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIOrganisationIdentification4">
		<xs:sequence>
			<xs:element name="Othr" type="CBIGenericIdentification2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIParty1Choice">
		<xs:choice>
			<xs:element name="OrgId" type="CBIOrganisationIdentification2">
				<xs:annotation>
					<xs:documentation> CHAN: Removed "OR" XSD check and restored "sequence" for ISO 20022 compliance </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrvtId" type="CBIPersonIdentification1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CBIPartyIdentification1">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
			<xs:element name="Id" type="CBIIdType1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIPartyIdentification2">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="CBIPostalAddress24" minOccurs="0">
				<xs:annotation>
					<xs:documentation> CHAN: Type Changed into CBIPostalAddress24 for v2019 ISO message migration </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="CBIIdType2" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIPartyIdentification3">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text"/>
			<xs:element name="PstlAdr" type="CBIPostalAddress24" minOccurs="0">
				<xs:annotation>
					<xs:documentation> CHAN: Type Changed into CBIPostalAddress24 for v2019 ISO message migration </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="CBIParty1Choice" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIPartyIdentification4">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text"/>
			<xs:element name="PstlAdr" type="CBIPostalAddress24" minOccurs="0">
				<xs:annotation>
					<xs:documentation> CHAN: Type Changed into CBIPostalAddress24 for v2019 ISO message migration </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="CBIIdType2" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIPartyIdentification5">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text"/>
			<xs:element name="Id" type="CBIIdType3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIPaymentTypeInformation1">
		<xs:sequence>
			<xs:element name="InstrPrty" type="Priority2Code" minOccurs="0"/>
			<xs:element name="SvcLvl" type="CBIServiceLevel1" minOccurs="0"/>
			<xs:element name="LclInstrm" type="CBILocalInstrument2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIPaymentTypeInformation2">
		<xs:sequence>
			<xs:element name="SvcLvl" type="CBIServiceLevel2" minOccurs="0"/>
			<xs:element name="LclInstrm" type="CBILocalInstrument1" minOccurs="0"/>
			<xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIPersonIdentification1">
		<xs:sequence>
			<xs:element name="Othr" type="CBIGenericIdentification1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIPostalAddress24">
		<xs:sequence>
			<xs:element name="AdrTp" type="AddressType3Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dept" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SubDept" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StrtNm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BldgNb" type="Max16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BldgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Flr" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstBx" type="Max16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Room" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstCd" type="Max16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TwnNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TwnLctnNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DstrctNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIRegulatoryReporting1">
		<xs:sequence>
			<xs:element name="DbtCdtRptgInd" type="CBIRegulatoryReportingType1Code"/>
			<xs:element name="Dtls" type="CBIStructuredRegulatoryReporting1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIRemittanceLocation1">
		<xs:sequence>
			<xs:element name="RmtId" type="Max35Text" minOccurs="0"/>
			<xs:element name="RmtLctnDtls" type="CBIRemittanceLocationData1" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> CHAN: Element included for v2019 ISO message migration </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIRemittanceLocationData1">
		<xs:sequence>
			<xs:element name="Mtd" type="CBIRemittanceLocationMethod1Code"/>
			<xs:element name="ElctrncAdr" type="Max2048Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIServiceLevel1">
		<xs:sequence>
			<xs:element name="Cd" type="CBIServiceLevel1Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIServiceLevel2">
		<xs:sequence>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBIStructuredRegulatoryReporting1">
		<xs:sequence>
			<xs:element name="Cd">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INF"/>
						<xs:enumeration value="SNR"/>
						<xs:enumeration value="CVA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="Inf" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceInformation2">
		<xs:sequence>
			<xs:element name="Tp" type="CreditorReferenceType2" minOccurs="0"/>
			<xs:element name="Ref" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType3Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndPlaceOfBirth1">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndDateTime2Choice">
		<xs:choice>
			<xs:element name="Dt" type="ISODate"/>
			<xs:element name="DtTm" type="ISODateTime"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DatePeriod2">
		<xs:sequence>
			<xs:element name="FrDt" type="ISODate"/>
			<xs:element name="ToDt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscountAmountAndType1">
		<xs:sequence>
			<xs:element name="Tp" type="DiscountAmountType1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DiscountAmountType1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalDiscountAmountType1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DocumentAdjustment1">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
			<xs:element name="Rsn" type="Max4Text" minOccurs="0"/>
			<xs:element name="AddtlInf" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentLineIdentification1">
		<xs:sequence>
			<xs:element name="Tp" type="DocumentLineType1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RltdDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentLineInformation1">
		<xs:sequence>
			<xs:element name="Id" type="DocumentLineIdentification1" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="Desc" type="Max2048Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Amt" type="RemittanceAmount3" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentLineType1">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="DocumentLineType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentLineType1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalDocumentLineType1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Garnishment3">
		<xs:sequence>
			<xs:element name="Tp" type="GarnishmentType1"/>
			<xs:element name="Grnshee" type="PartyIdentification135" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GrnshmtAdmstr" type="PartyIdentification135" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RefNb" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FmlyMdclInsrncInd" type="TrueFalseIndicator" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MplyeeTermntnInd" type="TrueFalseIndicator" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GarnishmentType1">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="GarnishmentType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GarnishmentType1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalGarnishmentType1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GenericIdentification3">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericIdentification30">
		<xs:sequence>
			<xs:element name="Id" type="Exact4AlphaNumericText"/>
			<xs:element name="Issr" type="Max35Text"/>
			<xs:element name="SchmeNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification4">
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICDec2014Identifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation> CHAN: Name Changed into AnyBIC and Type Changed into AnyBICDec2014Identifier for v2019 ISO message migration </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LEI" type="LEIIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation> CHAN: Field included for v2019 ISO message migration </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification29">
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICDec2014Identifier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LEI" type="LEIIdentifier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherContact1">
		<xs:sequence>
			<xs:element name="ChanlTp" type="Max4Text"/>
			<xs:element name="Id" type="Max128Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification135">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstlAdr" type="PostalAddress24" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Id" type="Party38Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtctDtls" type="Contact4" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contact4">
		<xs:sequence>
			<xs:element name="NmPrfx" type="NamePrefix2Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PhneNb" type="PhoneNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MobNb" type="PhoneNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FaxNb" type="PhoneNumber" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EmailAdr" type="Max2048Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EmailPurp" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="JobTitl" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rspnsblty" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dept" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="OtherContact1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PrefrdMtd" type="PreferredContactMethod1Code" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party38Choice">
		<xs:choice>
			<xs:element name="OrgId" type="OrganisationIdentification29"/>
			<xs:element name="PrvtId" type="PersonIdentification13"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PaymentIdentification1">
		<xs:sequence>
			<xs:element name="InstrId" type="Max35Text"/>
			<xs:element name="EndToEndId" type="Max35Text"/>
			<xs:element name="UETR" type="UUIDv4Identifier" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> CHAN: Field included for v2019 ISO message migration </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentification13">
		<xs:sequence>
			<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddress24">
		<xs:sequence>
			<xs:element name="AdrTp" type="AddressType3Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dept" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SubDept" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StrtNm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BldgNb" type="Max16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BldgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Flr" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstBx" type="Max16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Room" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstCd" type="Max16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TwnNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TwnLctnNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DstrctNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InstructionForCreditorAgent1">
		<xs:sequence>
			<xs:element name="Cd" type="Instruction3Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InstrInf" type="Max140Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Purpose1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceInformation16">
		<xs:sequence>
			<xs:element name="Ustrd" type="Max140Text" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Strd" type="StructuredRemittanceInformation16" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentInformation7">
		<xs:sequence>
			<xs:element name="Tp" type="ReferredDocumentType4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nb" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RltdDt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LineDtls" type="DocumentLineInformation1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType3Choice">
		<xs:choice>
			<xs:element name="Cd" type="DocumentType6Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType4">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="ReferredDocumentType3Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceAmount2">
		<xs:sequence>
			<xs:element name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DscntApldAmt" type="DiscountAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxAmt" type="TaxAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceAmount3">
		<xs:sequence>
			<xs:element name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DscntApldAmt" type="DiscountAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxAmt" type="TaxAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StructuredRemittanceInformation16">
		<xs:sequence>
			<xs:element name="RfrdDocInf" type="ReferredDocumentInformation7" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RfrdDocAmt" type="RemittanceAmount2" minOccurs="0"/>
			<xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0"/>
			<xs:element name="Invcr" type="PartyIdentification135" minOccurs="0">
				<xs:annotation>
					<xs:documentation> CHAN: Changed data type for migration to v2019 ISO Message </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Invcee" type="PartyIdentification135" minOccurs="0">
				<xs:annotation>
					<xs:documentation> CHAN: Changed data type for migration to v2019 ISO Message </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxRmt" type="TaxInformation7" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> CHAN - Complex structure included for the migration to v2019 ISO message </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrnshmtRmt" type="Garnishment3" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> CHAN - Complex structure included for the migration to v2019 ISO message </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxAmount2">
		<xs:sequence>
			<xs:element name="Rate" type="PercentageRate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TtlAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dtls" type="TaxRecordDetails2" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxAmountAndType1">
		<xs:sequence>
			<xs:element name="Tp" type="TaxAmountType1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxAmountType1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalTaxAmountType1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TaxAuthorisation1">
		<xs:sequence>
			<xs:element name="Titl" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxInformation7">
		<xs:sequence>
			<xs:element name="Cdtr" type="TaxParty1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dbtr" type="TaxParty2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UltmtDbtr" type="TaxParty2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdmstnZone" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RefNb" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Mtd" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TtlTaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TtlTaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SeqNb" type="Number" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rcrd" type="TaxRecord2" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxInformation8">
		<xs:sequence>
			<xs:element name="Cdtr" type="TaxParty1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dbtr" type="TaxParty2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdmstnZone" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RefNb" type="Max140Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Mtd" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TtlTaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TtlTaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dt" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SeqNb" type="Number" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rcrd" type="TaxRecord2" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxParty1">
		<xs:sequence>
			<xs:element name="TaxId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RegnId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxTp" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxParty2">
		<xs:sequence>
			<xs:element name="TaxId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RegnId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxTp" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Authstn" type="TaxAuthorisation1" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxPeriod2">
		<xs:sequence>
			<xs:element name="Yr" type="ISODate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Tp" type="TaxRecordPeriod1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FrToDt" type="DatePeriod2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxRecord2">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ctgy" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtgyDtls" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DbtrSts" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CertId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FrmsCd" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Prd" type="TaxPeriod2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxAmt" type="TaxAmount2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AddtlInf" type="Max140Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxRecordDetails2">
		<xs:sequence>
			<xs:element name="Prd" type="TaxPeriod2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>

	<!--*********************************
    Simple common data types
**********************************-->
	<xs:simpleType name="CBIActiveOrHistoricCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDR"/>
			<xs:enumeration value="PBOX"/>
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="BIZZ"/>
			<xs:enumeration value="MLTO"/>
			<xs:enumeration value="DLVY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnyBICDec2014Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BatchBookingIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="BICFIDec2014Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBIChargeBearerTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SLEV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBIChequeType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CCCH"/>
			<xs:enumeration value="BCHQ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBIRegulatoryReportingType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEBT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBIRemittanceLocationMethod1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FAXI"/>
			<xs:enumeration value="EMAL"/>
			<xs:enumeration value="SMSM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBIServiceLevel1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SEPA"/>
			<xs:enumeration value="URGP"/>
			<xs:enumeration value="FAST"/>
			<xs:enumeration value="PGPA"/>
			<xs:enumeration value="PGSP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBISrvInf1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ESBEN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT"/>
			<xs:enumeration value="DBIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBIDecimalNumber">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DecimalNumber">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="17"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RADM"/>
			<xs:enumeration value="RPIN"/>
			<xs:enumeration value="FXDR"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="PUOR"/>
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentType6Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSIN"/>
			<xs:enumeration value="CNFA"/>
			<xs:enumeration value="DNFA"/>
			<xs:enumeration value="CINV"/>
			<xs:enumeration value="CREN"/>
			<xs:enumeration value="DEBN"/>
			<xs:enumeration value="HIRI"/>
			<xs:enumeration value="SBIN"/>
			<xs:enumeration value="CMCN"/>
			<xs:enumeration value="SOAC"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="BOLD"/>
			<xs:enumeration value="VCHR"/>
			<xs:enumeration value="AROI"/>
			<xs:enumeration value="TSUT"/>
			<xs:enumeration value="PUOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Exact4AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalCashAccountType1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalCategoryPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalDiscountAmountType1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalDocumentLineType1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalGarnishmentType1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalLocalInstrument1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalTaxAmountType1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Instruction3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CHQB"/>
			<xs:enumeration value="HOLD"/>
			<xs:enumeration value="PHOB"/>
			<xs:enumeration value="TELB"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="LEIIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max128Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max350Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="350"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2048Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NamePrefix2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCT"/>
			<xs:enumeration value="MADM"/>
			<xs:enumeration value="MISS"/>
			<xs:enumeration value="MIST"/>
			<xs:enumeration value="MIKS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Number">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentMethod3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CHK"/>
			<xs:enumeration value="TRF"/>
			<xs:enumeration value="TRA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PercentageRate">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="10"/>
			<xs:totalDigits value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PreferredContactMethod1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LETT"/>
			<xs:enumeration value="MAIL"/>
			<xs:enumeration value="PHON"/>
			<xs:enumeration value="FAXX"/>
			<xs:enumeration value="CELL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Priority2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIGH"/>
			<xs:enumeration value="NORM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxRecordPeriod1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MM01"/>
			<xs:enumeration value="MM02"/>
			<xs:enumeration value="MM03"/>
			<xs:enumeration value="MM04"/>
			<xs:enumeration value="MM05"/>
			<xs:enumeration value="MM06"/>
			<xs:enumeration value="MM07"/>
			<xs:enumeration value="MM08"/>
			<xs:enumeration value="MM09"/>
			<xs:enumeration value="MM10"/>
			<xs:enumeration value="MM11"/>
			<xs:enumeration value="MM12"/>
			<xs:enumeration value="QTR1"/>
			<xs:enumeration value="QTR2"/>
			<xs:enumeration value="QTR3"/>
			<xs:enumeration value="QTR4"/>
			<xs:enumeration value="HLF1"/>
			<xs:enumeration value="HLF2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TrueFalseIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="UUIDv4Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
